---
import { CarouselWrapper } from "../components/ui/CarouselWrapper";

const carouselItems = [
  { src: "img/Medicina1.png", alt: "Slide 1" },
  { src: "img/Medicina1.png", alt: "Slide 1" },
  { src: "img/Medicina1.png", alt: "Slide 1" },
  { src: "img/Medicina1.png", alt: "Slide 1" },
  { src: "img/Medicina1.png", alt: "Slide 1" },
  { src: "img/Medicina1.png", alt: "Slide 1" }

];
---

<div class=" max-w-6xl w-full mx-auto">
  <div class="">
    <CarouselWrapper items={carouselItems} client:load />
  </div>
</div>
