---
import { Button } from "../components/ui/button";

---


<div class="flex flex-col bg-orange-100 justify-between items-center pt-20 pb-8 space-y-20">
  <div class="container flex flex-row justify-between max-w-6xl items-center">
    <div class="flex flex-col">
      <h3 class="font-bold text-center">CATEGORIAS</h3>
      <Button variant="link" class=" text-center">Antibióticos</Button>
      <Button variant="link" class=" text-center">Dermatológicos</Button>
      <Button variant="link" class=" text-center">Dolor General</Button>

    </div>
    <div class="flex flex-col">
      <h3 class="font-bold text-center">CONTACTO</h3>
      <Button variant="link" class=" text-center">Antibióticos</Button>
      <Button variant="link" class=" text-center">Antibióticos</Button>
      <Button variant="link" class=" text-center">Antibióticos</Button>

    </div>
    <img src="img/Unilogo.png" alt="Logo Farmasol" />

  </div>
  <div class="text-sm text-center">
  <p>2025 © Farmasol, S.A. Nacional Farmacéutica | Desarrollado por estudiantes de la UNEG.</p>
  </div>
</div>
