---
import { Button } from "../components/ui/button";
import Circleuser from "../icons/Circleuser.astro"
import Shoppingcart from "../icons/shoppingcart.astro"
import { NavigationMenuWrapper } from "../components/ui/NavigationMenuWrapper";

---

<header class="flex flex-col py-6 bg-white shadow-xl shadow-orange-300">
  <div class="max-w-[1440px] px-[150px]">
  <div class="flex justify-between w-full">
    <img src="../../public/img/Logo.png" alt="Logo Farmasol" />
    <div>
      <Button variant="outline"><Circleuser />Admin</Button>
      <Button variant="outline"><Shoppingcart />0</Button>
    </div>
  </div>
      <div class="mt-4 flex justify-between w-full"> {/* Added w-full here */}
    <div class="flex justify-stretch">
      <Button variant="ghost" class=" text-center">Antibi贸ticos</Button>
    </div>
    <div class="flex justify-stretch">
      <Button variant="ghost" class=" text-center">Antibi贸ticos</Button>
    </div>
    <div class="flex justify-stretch">
      <Button variant="ghost" class=" text-center">Antibi贸ticos</Button>
    </div>
    <div class="flex justify-stretch">
      <Button variant="ghost" class=" text-center">Antibi贸ticos</Button>
    </div>



      </div>
  </div>
</header>
